**/__pycache__
**/__pycache__/**
**/*.pyc
**/*.*~
**/*.npz
**/*.bin
**/*.ckpt
/archive/
/SgfFile/
/backup/

/gnugo-3.8/
/gnugo-3.8.tar.gz

/zzp1.py
/zzp2.py

/venv/
/env/
/envGo/

/goEnv/

/tensorRT_test/TensorRT/
/tensorRT_test/mini/

/TensorRT-release-10.7/

